.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  margin:30px;
  border:1px solid black;
  background-color:teal;
  color:white;
  padding:10px;
  width:30vw;
  
}
.cardFooter{
  padding:5px;


}
button{
  width:15vw;
  height:4vh;
}
.App{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  flex:10;
}